<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>ES mobility</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="shortcut icon" href="${resource(dir: 'images', file: 'favicon.ico')}" type="image/x-icon">
		<link rel="apple-touch-icon" href="${resource(dir: 'images', file: 'apple-touch-icon.png')}">
		<link rel="apple-touch-icon" sizes="114x114" href="${resource(dir: 'images', file: 'apple-touch-icon-retina.png')}">
		<link rel="stylesheet" href="${resource(dir: 'css', file: 'main.css')}" type="text/css">
		<link rel="stylesheet" href="${resource(dir: 'css', file: 'mobile.css')}" type="text/css">
		<r:external file="/less/layout.less"/>
		<r:external file="/less/main.less"/>
		<r:external file="/css/font-awesome.css"/>
		<r:external file="/css/bootstrap/css/bootstrap.css"/>
		<r:require module="jquery-ui"/>
		<g:layoutHead/>
		<r:layoutResources />
		<r:script>
			$("[title]").tooltip();
			$("body").mousemove(function(event) { $("#spinner").css({top: event.pageY, left: event.pageX + 16}); });
			$(document).ajaxStart(function() { $("#spinner").show(); }).ajaxStop(function() { $("#spinner").hide(); });
		</r:script>
	</head>
	<body>
		<div id="wrapper">
			<div id="main">
				<div class="row">
					<div class="col-md-12">
						<div id="header" class="ui-widget-header"><ui:renderTemplate template="/menu"/></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div id="body"><g:layoutBody/></div>
					</div>
				</div>

			</div>
		</div>
		<div id="footer" class="col-md-12">
			<div><r:img dir="images/mach1" file="logo_mach1.png" id="logo-mach1"/></div>
			Direzione e Sede Legale Via Vittor Pisani, 13/B | 20124 Milano  - TEL. 02 00638 057  FAX 02 62087266 - <br>
			CCIAA Milano - REA MI 1908726 - C.F.,  P. IVA e Reg. Imprese Milano 06680830962 - Capitale sociale 100.000 EURO - Registro Unico Intermediari  A000317603
		</div>
		<r:layoutResources />
	</body>
</html>
