
html {
  height: 100%;
  body {
    height: 100%;
    margin: 0 auto;
    /*#wrapper {
      min-height: 100%;
      #main { overflow: visible; }
    }*/
    #footer {
      position: relative;
      clear:both;
      strong { display: block; }
      background-color: white !important;
    }
  }
}