
form {
  width: 300px !important;
  margin: 100px auto !important;
  padding: 0px 10px 10px 10px !important;

  .div1{
    .div2 .div3{
      margin-top: 10px;
      .field {
        .field-label { width: 80px;}
        .field-content { width: 120px;}
      }
    }

    .div5{
      margin-bottom: 10px;
      font-weight: bold;
    }
  }

}
.loginBtn{
  margin-top: 20px !important;
  padding: 0.48em 4.1em !important;
  font-size: 22px !important;
}
.divimage{

   margin-left: 820px;
   margin-top: 40px;

}