
@import 'utils.less';

#search {
  float: right;
  .field-content { width: 300px;
  font-size: 22px;}
}
.field-content {
  font-size: 14px;}
.table {
  width: 100%;
  margin-top: 10px;
  .ui-button { height: 1.2em; }
  &#libri-matricola {
    .tbody tr:not(.empty-table-row):hover {
      background-color: antiquewhite;
      cursor: pointer;
    }
    .action-column { width: 40px; }
    .dealer-column { white-space: nowrap; }
    .numero-column { width: 130px; }
    .count-column { width: 75px; }
    .totale-column { width: 110px; }
  }
  &#applicazioni {
    .td {
      .with-product { color: forestgreen; }
      .without-product { color: darkred; }
      .validita-applicazione {
        height: 16px;
        &.scaduta .ui-progressbar-value { background: orange; }
      }
    }
    .action-column {
      width: 40px;
      &.admin { width: 106px; }
    }
    .pagata-column { width: 20px; }
    .numero-column, .stato-column { width: 90px; }
    .stato-column {
      .preventivo { color: orange; }
      .polizza { color: forestgreen; }
      .esclusa { color: darkred; }
    }
    .pagata-il-column { width: 135px; }
    .validita-column { width: 175px; }
    .tipologia-column, .veicolo-column {
      max-width: 75px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .targa-column { width: 60px; }
    .valore-column { width: 100px; }
    .prodotto-column {
      max-width: 80px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .premio-column { width: 110px; }
    .delete-column { width: 20px; }
    @media (max-width: 1655px) { .tipologia-column { display: none; } }
    @media (max-width: 1560px) { .veicolo-column { display: none; } }
    @media (max-width: 1385px) { .valore-column { display: none; } }
    @media (max-width: 1275px) { .premio-column { display: none; } }
    @media (max-width: 1155px) {
      .prodotto-column { display: none; }
      .veicolo-column { display: table-cell; }
      .premio-column { display: table-cell; }
    }
    @media (max-width: 1095px) { .veicolo-column { display: none; } }
    @media (max-width: 920px) { .premio-column { display: none; } }
  }
  &#calcoli {
    margin-bottom: 10px;
    table-layout: fixed;
    .prodotto-column {
      background-color: #EEEEEE;
      width: 130px;
    }
  }
  &#tracciati {
    margin-bottom: 10px;
    table-layout: fixed;
    th.data-esportazione-column { width: 150px; }
    th.garanzia-column { width: 120px; }
    th.small-column { width: 100px; }
    td.tracciato-column {
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &#tracciato-scomposto {
    th.campo-column { width: 350px; }
    th.valore-column { width: 250px; }
  }
  &#duplicati {
    a {
      text-decoration: underline;
      color: @link_color;
    }
  }
}

#sinistro {
  margin-top: 20px;
  .field-label { width: 175px; }
  .field-content { /*width: 49.66%;*/ }
  .field-data { width: 29.66%; }
  .currency:after { content: " €" }
  .field textarea {
    resize: vertical;
    vertical-align: top;
    &.output {
      resize: none;
      cursor: default;
    }
  }
  #legend {
    .clearfix;
    margin-bottom: 15px;
    label {
      color: grey;
      font-style: italic;
      float: right;
      span { color: @body_border; }
    }
  }
  #left, #right {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 15px;

  }
  .campi {
    margin: 8px 0px 8px 0px;
    margin-left: 10px;
  }
  #prodotti {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    padding: 0;
    margin: 0;
  }
  .field#quintali { display: none; }
  #form-footer {
    margin-top: 50px;
    background-color: white !important;
  }
  #s-e { margin-right: 10px; }
  &.mostra {
    .output { font-weight: bold; }
    #edit-button { float: right; }
    .mostra-tracciato { vertical-align: baseline; }
  }
.dettaglio{
  background-color: #C2B49C !important;
  border-radius: 6px !important;
}

}
.botto-dett{
  margin-bottom: 25px !important;
}

.close-button{
  //height: 2.0em !important;
  border-radius: 6px !important;
  border: 1px solid #8c8c8c !important;
  background: #8c8c8c !important;
  //padding: 0.5em 0.5em !important;
  font-weight: normal !important;
  color: #fff !important;
  margin-left: 54px!important;
  font-size: 16px !important;
}
.ui-datepicker {
  .border-box;
  width: 300px;
}

.fake {
  width: 0px;
  height: 0px;
  position: absolute;
  top: -100px;
}

.ui-button-text-only .ui-button-text {
  padding: .1em 2.7em !important;
  font-size: 17px !important;
}
.ui-button{
  margin-left: 10px !important;
}
 .field-content { width: 100% !important; }

  .aggiorna-button {
    margin-top: 0.7em !important;
    height:32px !important;
    border-radius: 6px !important;
    /*border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;*/
    border: 1px solid #C2B49C !important;
    background: #C2B49C !important;
/*    padding: 1px 1px !important;*/
    font-weight: bold !important;
    color: #fff !important;
    font-size: 20px !important;
    /*float: left !important;*/
  }



  .range {
    //margin: 0px 10px;
    vertical-align: text-bottom;
    /*margin-left: 10px;*/
    margin-bottom: 70px;
    .field {
      float: left !important;
      display: inline-block;
      margin-left: 184px;
      &:last-child .field-label {
        width: auto;
      }

    }


  }

.back-button{
  margin-left: 182px !important;
  height:2.0em !important;
  border-radius: 6px !important;
  /*border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;*/
  border: 1px solid #C2B49C !important;
  background: #C2B49C !important;
  padding: 0.5em 0.5em !important;
  font-weight: bold !important;
  color: #fff !important;
  font-size: 20px !important;
 // float: left !important;
}
.back-elenco{
  margin-left: 18px !important;
  height:2.0em !important;
  border-radius: 6px !important;
  padding: 1.2em 4.5em;
  border: 1px solid #C2B49C !important;
  background: #C2B49C !important;
  padding: 0.5em 0.5em !important;
  font-weight: bold !important;
  color: #fff !important;
  // float: left !important;
}



.field{
  border-radius: 6px !important;
}
.dest{
  margin-left: 0.4em !important;
}

.chat-discussion {
  background: #C2B49C !important;
  padding: 13px !important;
  height: auto !important;
  //*overflow-y: auto !important;*/
}
.chat-message {
  padding: 10px 20px !important;
}
.message-avatar {
  height: 48px !important;
  width: 48px !important;
  border: 1px solid #e7eaec !important;
  border-radius: 4px !important;
  margin-top: 1px !important;
  background-color: #fff !important;
}
.chat-discussion .chat-message.left .message-avatar {
  float: left !important;
  margin-right: 10px !important;
}
.chat-discussion .chat-message.right .message-avatar {
  float: right !important;
  margin-left: 10px !important;
}
.message {
  background-color: #fff !important;
  border: 1px solid #e7eaec !important;
  text-align: left !important;
  display: block !important;
  padding: 10px 20px !important;
  position: relative !important;
  border-radius: 4px !important;
}
.chat-discussion .chat-message.left .message-date {
  float: right !important;
}
.chat-discussion .chat-message.right .message-date {
  float: left !important;
}
.chat-discussion .chat-message.left .message {
  text-align: left !important;
  margin-left: 55px !important;
}
.chat-discussion .chat-message.right .message {
  text-align: right !important;
  margin-right: 55px !important;
}
.message-date {
  font-size: 10px !important;
  color: #888888 !important;
}
.message-content {
  display: block !important;
}

.bottone-commento{
 /* padding: 0.07em 3.12em !important;*/
  background: #C2B49C !important;
  border: 1px solid #C2B49C !important;
  padding: 0.36em 3.10em !important;
  font-size: 18px !important;
}

.bottone-salva{
  /* padding: 0.07em 3.12em !important;*/
  padding: 0.15em 4.7em !important;
  margin-left: 10px !important;
}
.bottone-chiude{
  padding: 0.30em 4.90em !important;
  font-weight: bold !important;
  float: left !important;
}
.bottone-annulla{
  padding: 0.15em 3.12em !important;
  font-weight: bold !important;
  float: left !important;
}
.message-author{
  color: #C2B49C !important;
}



.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  //border: 1px solid #C2B49C !important;
  background: #fff 50% 50% repeat-x !important;
  font-weight: bold !important;
  color: #C2B49C !important;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}
.button:hover{
  background: #fff 50% 50% repeat-x !important;
  color: #C2B49C !important;
}
.form-control {
  padding: 3px 12px !important;
}

.ui-button:hover, .bottone-commento:hover, .bottone-chiude:hover{
  background: #fff 50% 50% repeat-x !important;
  color: #C2B49C !important;
  /*border: 1px solid #C2B49C !important;*/
  border-radius: 6px !important;
}

.legend{
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

a:link, a:visited, a:hover {
  //color: #fff !important;
}

.marginesopraN{
  margin-top: 9px !important;
}
.marginesopra{
  margin-top: 41px !important;
}
.marginesopraEve{
  margin-top: 39px !important;
}

.marginesopraP{
  margin-top: 20px !important;
}

.control-label {
  cursor: default !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
}

.btn-success {
  color: #fff !important;
  background-color: #5cb85c !important;
  border-color: #5cb85c !important;
}

.btn-danger {
  color: #fff !important;
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
}
.labelErrore{
  border-radius: 4px!important;
  color: #000!important;
  background-color:#d9534f !important;
  font-size: 20px;
  padding-left: 15px!important;
}
.labelSuccess{
  border-radius: 4px!important;
  color: #000!important;
  background-color:#5cb85c !important;
  font-size: 20px;
  padding-left: 15px!important;
}

#daticontabili {
  margin-top: 50px;
  .field-label { width: 175px; }
  .field-content { /*width: 49.66%;*/ }
  .field-data { width: 29.66%; }
  .currency:after { content: " €" }
  .field textarea {
    resize: vertical;
    vertical-align: top;
    &.output {
      resize: none;
      cursor: default;
    }
  }
  #legend {
    .clearfix;
    margin-bottom: 15px;
    label {
      color: grey;
      font-style: italic;
      float: right;
      span { color: @body_border; }
    }
  }
  #left, #right {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 15px;

  }
  .campi {
    margin: 8px 0px 8px 0px;
    margin-left: 10px;
  }
  #prodotti {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    padding: 0;
    margin: 0;
  }
  .field#quintali { display: none; }
  #form-footer {
    /*margin-top: 30px;*/
    background-color: white !important;
  }
  #s-e { margin-right: 10px; }
  &.mostra {
    .output { font-weight: bold; }
    #edit-button { float: right; }
    .mostra-tracciato { vertical-align: baseline; }
  }


}
.dettaglioDatiC{
  background-color: #C2B49C !important;
  border-radius: 6px !important;
}

.mostra{
  border: #C2B49C;
  background: #C2B49C;
  color: #fff;
  font-weight: bold !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 6px) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}

legend{
  border-bottom: 0px solid #e5e5e5 !important;
}

