
@import 'utils.less';

#search {
  float: right;
  .field-content { width: 300px; }
}

table {
  width: 100%;
  margin-top: 10px;
  .ui-button { height: 1.2em; }
  td {
    &.short-column { max-width: 80px; }
    &.action-column { width: 40px; }
    &.indirizzo-column, &.ragsoc-column {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.piva-column { width: 120px; }
    &.email-column {
      max-width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.cancella-column { width: 30px; }
  }
  @media (max-width: 1280px) { .telefono-column { display: none; } }
  @media (max-width: 1150px) { .piva-column { display: none; } }
  @media (max-width: 1000px) { .indirizzo-column { display: none; } }
}

#dealer-form {
  margin-top: 50px;
  .field-label { width: 180px; }
  .field-content { width: 49.66%; }
  #legend {
    .clearfix;
    margin-bottom: 15px;
    label {
      color: grey;
      font-style: italic;
      float: right;
      span { color: @body_border; }
    }
  }
  #left-form, #right-form {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    #left-form { float: left; }
    #right-form { float: right; }
  }
  #form-footer { margin-top: 50px;
    background-color: white !important;
  }
}